.button {
    display: flex;
    margin: 6px 6px;
    cursor: pointer;
    padding: 12px 25px;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 58, 3);
    border: none;
    border-radius: 18px;
    font-weight: lighter;
    font-family:sans-serif;
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: rgb(66, 126, 66);
    transform: scale(1.05);
    color: white;
    transition: all 0.4s ease-in-out;
}